.container {
    margin: 0 auto;
    max-width: 76rem;
    padding: 4rem;
    margin-block-start: -12rem;
}

.similar-container {
    display: grid;
}

.top {
    display: grid;
    grid-template-columns: 8rem 1fr;
    gap: 2.4rem;
    padding: 3.2rem;
    background: white;
    box-shadow: 0rem 0.3rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 2rem;
}

.top img {
    max-width: 8rem;
    max-height: 8rem;
}

.top span {
    pointer-events:none;
}

.when-useful {
    font-size: 2.1rem;
    margin-block-start: 3.2rem;
}

.sources {
    margin-top: 4rem;
}

.content {
    margin: 0 auto;
    max-width: 80rem;
    padding: 4rem 8rem;
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-bottom: 1.6rem;
}

.content img {
    width: 100%;
    border: 0.2rem outset;
    border-color: var(--transparentGrey);
}

.content a {
    text-decoration: underline;
}

.content a:hover {
    text-decoration: none;
}