.top {
    background-color: hsla(204, 4%, 36%, 0.05);
    margin: 0;
    padding-bottom: 10rem;
    padding-top: 0.1rem;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
    gap: 2.4rem;
    margin: 0 auto;
    max-width: 96rem;
    padding: 0 1rem 1.6rem;
    margin-top: -6rem;
    margin-bottom: 4rem;
}

/* Responsivity */

@media only screen and (max-width: 480px) {
    .container {
      padding: 2rem;
    }
}
  
@media only screen and (max-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
        gap: 2.4rem;
        margin-top: -8rem;
    }
}