.top {
    background-color: hsla(204, 4%, 36%, 0.05);
    margin: 0;
    padding-bottom: 2rem;
    padding-top: 0.1rem;
    text-align: center;
}

h1 {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
}

.button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0.5rem;
    border: 2px solid;
    cursor: pointer;
    outline: none;
    border-radius: 12px;
    background-color: none;
    transition-duration: 0.2s;
}

.button:hover {
    background-color: black;
    color: white;
}

.button:disabled {
    background-color: black;
    color: white;
    cursor: none;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 1.0875rem 1.45rem;
    background-color: #cccccc;
}

.item {
    max-width: 200px;
    display: inline;
}