.button {
    padding: 0.8rem 1.2rem 0.8rem 1.2rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1rem;
    cursor: pointer;
    outline: none;
    border-radius: 0.6rem;
    border-style: solid;
    background-color: transparent;
    transition-duration: 0.2s;
    outline-offset: 0rem;
    -webkit-appearance: none;
    box-shadow: none;
}

.button:disabled {
    cursor: initial;
}

@media only screen and (max-width: 480px) {
    .button {
        font-size: 1.2rem;
        margin: 0.8rem;
    }
}
