.footer {
    background-color: white;
    font-size: 1.6rem;
    text-align: center;
    padding: 3.6rem;
}

.footer a {
    text-decoration: underline;
}

.footer a:hover {
    text-decoration: none;
}

