.header {
    background-color: var(--transparentGrey);
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: var(--darkGrey);
}

.logo {
    font-size: 2.4rem;
    font-weight: 900;
}

.about a {
    font-size: 1.6rem;
    float: right;
    text-decoration: underline;
}